@model LibraryAutoSystem.Models.Yazar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sil</h1>

<h3>Kaydı silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Yazar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YazarAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YazarAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YazarSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YazarSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YazarUlke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YazarUlke)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="YazarId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
