@model LibraryAutoSystem.Models.Kitaplar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sil</h1>

<h3>Kaydı silmek istediğinize emin misiniz?</h3>
<div>
    <h4>Kitaplar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitapAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitapAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YayinEvi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YayinEvi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YayinTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YayinTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsbnNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsbnNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yazar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yazar.YazarId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KitapId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
