@model IEnumerable<LibraryAutoSystem.Models.Kitaplar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kitaplar Listesi</h1>

<p>
    <a asp-action="Create">Yeni Kitap Kaydı Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KitapAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YayinEvi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YayinTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsbnNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yazar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KitapAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayinEvi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayinTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsbnNo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Yazar.YazarAdi) @Html.DisplayFor(modelItem => item.Yazar.YazarSoyadi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KitapId">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.KitapId">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.KitapId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
